body{
	padding: 70px;
}
.s1{
	font-weight: 900;
}
.jumbotron {
 color:white;
 text-align: center;
  background-image: url(thumbnails/cover.png);
}
.navbar-inverse{
	background:#264653;
}
/*a{
	color: white;
}*/
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.thumbnail>img {
    display: block;
    max-width: 100%;
    height: 250px;
}
button {
  border: none;
  color: white;
  background-color: #4CAF50;
  transition-duration: 0.4s;
  padding: 15px 32px;
  text-align:  : center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  margin-left: 100px;
  cursor: pointer;
}
button:hover {
  background-color: #008CBA; /* Green */
  color: white;
}